/* GENERAL */
body {
  background-image: url('./img/star-exposure.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.std-link:hover {
  text-decoration: none;
}
/* GENERAL */

/* HOME PAGE */
.note-item-enter {
  opacity: 0.01;
}
.note-item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.note-item-exit {
  opacity: 1;
}
.note-item-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

li.list-group-item-cust {
  background-color: #e9ecef;
}
/* HOME PAGE */

/* FORM */
.form-title {
  background-color: #e9ecef;
  padding: 5px;
  border-radius: 4px;
}

.form-section {
  margin-top: 10px;
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 4px;
}
/* FORM */

/* 404 NOT FOUND PAGE */
.not-found {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 4px;
}
/* 404 NOT FOUND PAGE */

/* RESPONSIVE BUTTON */
.is-mobile {
  width: 30%;
}

@media only screen and (max-width: 450px) {
  .is-mobile {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
}
/* RESPONSIVE BUTTON */
